html, body, #app, :root {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--v-theme-background));
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.workflow-node {
    padding: 10px;
    color: rgb(var(--v-theme-onPrimary));
    background: rgb(var(--v-theme-background));;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(var(--v-theme-nodeDefaultBorder));
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.workflow-node:hover, .vue-flow__node.selected {
    border-radius: 8px;
    box-shadow:0 0 0 4px rgb(var(--v-theme-surface));
    transition:box-shadow .2s;
}

.workflow-node-nfcore {
    border-color: rgb(var(--v-theme-nodeNfCoreBorder));
}

button {
  border-radius: 8px;
}

button:active {
  background-color: rgb(var(--v-theme-primarySoft));
}

.checkbox {
  color: black;
}
